%h3.page_title
  Merge Requests
  %small (authored by or assigned to you)
  %small.pull-right #{@merge_requests.total_count} merge requests

%hr
.row
  .span3(style="border-right:1px solid #ddd;margin-right:-1px;")
    = render 'filter', entity: 'merge_request'
  .span9
    = render 'shared/merge_requests'
